.Study-section {
height: 100vh;
padding: 3rem 0 0;
width: 100%;
background-color: #171717;
}
.studytext {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.studytext h1 {
    font-size: 3rem;
    color: #FACD8A;
    margin: 0 0 2rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.studytext small {
    padding: 3px 2.5rem 0;
    color: #FACD8A;
    background-color: #FACD8A;
}
.row-study {
    display: flex;
    justify-content: space-around;
    margin: 4rem 2rem 0;
}
.col1 {
    width: 50%;
}
.col1 p {
    color: gray;
}
.col1 h4 {
    margin: 0 0 2rem;
    color: #FACD8A;
    font-weight: 500;
    font-size: 1.4rem;
}
@media (max-width:900px){
    .row-study {
     flex-direction: column;
     align-items: center;
    } 
    .Study-section {
        height: auto;
    }
    .col1 {
        width: 100%;
        margin: 0 0 3rem;
    }
}